@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Roboto:wght@400;700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: "DM Sans";
}
footer{
    margin-top: 147px;
    margin-bottom:73.57px;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 36px;
}
.socialLinks{
    display: flex;
align-items: center;
gap: 48px;
}
.extraInfo{
    display: flex;
align-items: flex-start;
gap: 48px;
}
.extraInfo p{
    color: var(--gray-900, #111827);
font-size: 18px;
font-style: normal;
font-weight: 700;
}
.copyright{
    color: var(--gray-500, #6B7280);
font-size: 18px;
font-weight: 700;
}